
<tr>
	<td>
		<%if toilet.public_toilet == true%>
			<h6><span class="glyphicon glyphicon-map-marker"></span><%= toilet.title %></h6>
		<%else%>
			<h6><span class="glyphicon glyphicon-map-marker"></span><%= toilet.location %></h6>
		<%end%>
	</td>
	<td> <%= toilet.female %></td>
	<td><%= toilet.male %></td>
	<td> <% if toilet.gender_neutral? then toilet.gender_neutral else "-" end%></td>
	<td><%= toilet.parentsRoom %></td>
	<td><%= toilet.disabled_opt %></td>
	<td>
		<% toggle_data = "#"+toilet.id.to_s%>
		<%= link_to 'View more', "#", class: "btn btn-default btn-sm", 
		data: { toggle: toggle_data} %>	

	</td>
	<td>
		<!-- Pass through weather or not if it is a public toilet -->
		<%= link_to 'View comments', 
		toilet_path(:id => toilet, :public_toilet => toilet.public_toilet), 
		class: "btn btn-primary btn-sm"
			%>

	</td>
</tr>
	<tr id=<%= toilet.id %> class="toilet-info">
		<td  colspan="8">
			<h5>
				<%= toilet.title %> <br> 
				<small>
					Description: <%= toilet.description %><br>
					<br> 
					Opening hours: 
							Not Available
					<br> 
					<strong>Overall Rating: </strong> 	
					<!-- [START]	Display Overall rating -->
						<%= render 'home/overall-rating', :toilet => toilet %>
					<!-- [END]		Display Overall rating -->
				</small> 
			</h5>
		</td>
	</tr>