
<tr>
	<td>
		<%if toilet.public_toilet == true%>
			<h6><span class="glyphicon glyphicon-map-marker"></span><%= toilet.title %></h6>
		<%else%>
			<h6><span class="glyphicon glyphicon-map-marker"></span><%= toilet.location %></h6>
		<%end%>
	</td>
	<%if toilet.female == true %>
		<td><span class='glyphicon glyphicon-ok'></span></td>
	<%else%>
		<td></td>
	<%end%>
	<%if toilet.male == true %>
		<td><span class='glyphicon glyphicon-ok'></span></td>
		<%else%>
		<td></td>
	<%end%>
	<%if toilet.gender_neutral == true %>
		<td><span class='glyphicon glyphicon-ok'></span></td>
		<%else%>
		<td></td>
	<%end%>
	<%if toilet.parentsRoom == true %>
		<td><span class='glyphicon glyphicon-ok'></span></td>
		<%else%>
		<td></td>
	<%end%>
	<%if toilet.disabled_opt == true %>
		<td><span class='glyphicon glyphicon-ok'></span></td>
		<%else%>
		<td></td>
	<%end%>
	<td>
		<% toggle_data = "#"+toilet.id.to_s%>
		<%= link_to 'View more', "#", class: "btn btn-warning btn-sm", 
		data: { toggle: toggle_data} %>	

	</td>
	<td>
		<!-- Pass through weather or not if it is a public toilet -->
		<%= link_to 'View comments', 
		toilet_path(:id => toilet, :public_toilet => toilet.public_toilet), 
		class: "btn btn-primary btn-sm"
			%>

	</td>
</tr>
	<tr id=<%= toilet.id %> class="toilet-info">
		<td  colspan="8">
			<h5>
				<%= toilet.title %> <br> 
				<small>
					Description: <%= toilet.description %><br>
					<br> 
					Opening hours: <br>
							<% monday, tuesday, wednesday, thursday, friday, saturday, sunday = OpeningHour.get_openings(toilet.id) %>
							<% if monday != nil%> 
							<% if monday.open_time != nil%> 
								<%= monday.day %>:  <%=monday.open_time%> - <%=monday.close_time%> <br>
							<%end%>
							<%end%>
							<% if tuesday != nil %> 
							<% if tuesday.open_time != nil %>
								<%= tuesday.day %>:  <%=tuesday.open_time%> - <%=tuesday.close_time%> <br>
							<%end%>
							<%end%>
							<% if wednesday != nil %> 
							<% if wednesday.open_time != nil %>
								<%= wednesday.day %>:  <%=wednesday.open_time%> - <%=wednesday.close_time%> <br>
							<%end%>
							<%end%>
							<% if thursday != nil %>
							<% if thursday.open_time != nil %> 
								<%= thursday.day %>:  <%=thursday.open_time%> - <%=thursday.close_time%> <br>
							<%end%>
							<%end%>
							<% if friday != nil %> 
							<% if friday.open_time != nil %>
								<%= friday.day %>:  <%=friday.open_time%> - <%=friday.close_time%> <br>
							<%end%>
							<%end%>
							<% if saturday != nil %> 
							<% if saturday.open_time != nil %> 
								<%= saturday.day %>:  <%=saturday.open_time%> - <%=saturday.close_time%> <br>
							<%end%>
							<%end%>
							<% if sunday != nil %> 
							<% if sunday.open_time != nil %> 
								<%= sunday.day %>:  <%=sunday.open_time%> - <%=sunday.close_time%> <br>
							<%end%>
							<%end%>
					<br> 
					<strong>Overall Rating: </strong> 	
					<!-- [START]	Display Overall rating -->
						<%= render 'home/overall-rating', :toilet => toilet %>
					<!-- [END]		Display Overall rating -->
				</small> 
			</h5>
		</td>
	</tr>