<%= form_for(toilet) do |f| %>
  <% if toilet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(toilet.errors.count, "error") %> prohibited this toilet from being saved:</h2>

      <ul>
      <% toilet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :parentsRoom %>
    <%= f.check_box :parentsRoom %>
  </div>

  <div class="field">
    <%= f.label :gender_neutral %>
    <%= f.check_box :gender_neutral %>
  </div>

  <div class="field">
    <%= f.label :disabled_opt %>
    <%= f.check_box :disabled_opt %>
  </div>

  <div class="field">
    <%= f.label :image_url %>
    <%= f.file_field :image_url %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
