<%= javascript_include_tag 'toggle' %>

<div class="center">
	<%= render 'toilets/description',  :toilet => @toilet, :photos => @photos%>
</div>
<div class="col-xs-12">
	<hr>
	Comments section
	<hr>
	<div class="list-group">
		<% if @feedbacks.none? %>
			<div class="center">No comments available</div>
		<% else %>
			<%= render 'toilets/comments',  :feedbacks => @feedbacks %>
		<%end%>
	</div>
	<div class="center">
		<% if session[:user_id] != nil %>
			<% if User.find(session[:user_id]).admin != true %>
				<%= link_to feedback_path(:id => @toilet.id), class: "btn btn-success btn-sm" do%>
					<span class="glyphicon glyphicon-plus"></span> Add Comment
				<%end%> | 
				<%= link_to new_photo_path(:toilet => @toilet.id), class: "btn btn-success btn-sm" do%>
					<span class="glyphicon glyphicon-plus"></span> Add Photo
				<%end%>
			<%end%>
		<%end%>
	</div>
	<br>
<% if session[:user_id] != nil %>
	<% if User.find(session[:user_id]).admin == true %>
		<%= link_to toilets_path, class: "btn btn-default" do %>
			<span class="glyphicon glyphicon-arrow-left"></span> Back
		<%end%> 
	<%end%> 
<%else%>
	<%= link_to root_path, class: "btn btn-default" do %>
		<span class="glyphicon glyphicon-arrow-left"></span> Back
	<%end%> 
<%end%>
</div>

