<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @toilet.title %>
</p>

<p>
  <strong>Location:</strong>
  <%= @toilet.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @toilet.description %>
</p>

<p>
  <strong>Parentsroom:</strong>
  <%= @toilet.parentsRoom %>
</p>

<p>
  <strong>Gender neutral:</strong>
  <%= @toilet.gender_neutral %>
</p>

<p>
  <strong>Disabled opt:</strong>
  <%= @toilet.disabled_opt %>
</p>

<p>
  <% @toilet.image.each do |image| %>
    <li><%= link_to(image_tag(image.url, alt: 'Image'), image.url, target: '_blank') %></li>
  <% end %>

</p>

<%= link_to 'Edit', edit_toilet_path(@toilet) %> |
<%= link_to 'Back', toilets_path %>
