<%= javascript_include_tag 'toggle' %>

<p id="notice"><%= notice %></p>

<div class="center">

	<h3>  <%= @toilet.title %></h3>
	<p>
		<strong>Location:</strong>
		<%= @toilet.location %>
		<br>
		<strong>Description:</strong>
		<%= @toilet.description %>
	</p>
</div>
<hr>
Comments section
<hr>
<div class="list-group">
	<% if @feedbacks == nil || @feedbacks.none?%>
  		<div class="center">No comments available</div>
	<% else %>
		<% @feedbacks.each do |feedback| %>
			<div class="list-group-item">
				<%= feedback.id%>
				<%= feedback.comment%>
				<%= feedback.overall%>
				<%= feedback.cleanliness%>
				<%= feedback.odour%>
				<%= feedback.safety%>
			</div>
		<%end%>
	<% end %>
</div>
<div class="center">
<% if session[:user_id] != nil %>
	<% if User.find(session[:user_id]).admin != true %>
		<%= link_to feedback_path(:toilet => @toilet.id), class: "btn btn-success btn-sm" do%>
		<span class="glyphicon glyphicon-plus"></span> Add Comment
		<%end%>
	<%end%>
<%end%>
</div>

<br>
<%= link_to toilets_path, class: "btn btn-default" do %>
<span class="glyphicon glyphicon-arrow-left"></span> Back
<%end%> 
