<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">

    <nav>

        <%= link_to "MY TOILET FINDER", root_path, id: "logo" %>

        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home",   root_path %></li>
          <li><%= link_to "About",  about_path %></li>
          <% if session[:user_id] != nil %>
          <% if User.find(session[:user_id]).admin == true %>
          <li><%= link_to "Manage Toilets",  toilets_path %></li>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% if User.find(session[:user_id]).admin == nil || User.find(session[:user_id]).admin != true%>
              <li><%= link_to "Profile", profile_path %></li>
              <li><%= link_to "Settings", settings_path %></li>
              <li class="divider"></li>
              <% end %>
              <li><%= link_to "Log out", logout_path, method: :delete %></li>
            </ul>
          </li>
          <% else %>
          <li><%= link_to "Log in/Sign up", login_path %></li>
          <% end %>

        </ul>
      </nav>
    </div>
  </header>